*{
  margin: 0; 
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid rgb(136, 136, 136);
  border-radius: 0.25em;
  width: 25em;
  height: 35em;
  display: flex;
  flex-direction: column;
}

.appContainer form .inputField {
  width: 23.1rem;
}
.appContainer > * {  
  top: 3.3rem;
  position: relative;
}


.sortBy{
  display: flex;
  margin: 0.5rem auto;
}

.sortBy:hover{
  cursor:pointer;
}

.header{
  position: fixed;
  overflow: hidden;
  background-color: rgb(221, 221, 221);   
  width: 23rem;
  top: 0%;
  padding: 1em;
}

.footer{
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background-color: rgb(221, 221, 221);   
  width: 23rem;
  top: 91%;
  padding: 1em;
}
.inputField{
  padding: 1em;
}

.searchBar {
  width: 40%;
  float: right;
  border: 1px solid #30303015;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #f0f2f5;
}

.friendDiv{
  display: flex;
  border-top: solid rgb(121, 120, 120) 0.02em;
  width: 100%;
}

.friendName {
  padding: 0.5em;
  padding-left: 1em ;
  width: 50%;
}

.friendName > .txt{
  font-size: 0.85rem;
  color: #b8b8b8;
  margin: 0.04em;
}

.friendDiv>.actionDiv{
  display: flex;
  margin-left: auto;
  justify-content: space-around;
  align-items: center;
}

.actionDiv button{
  margin: 0.5em;
}

.cursorStyle :hover{
  cursor: pointer;
}

.noFriends{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
  font-size: 1rem;
  font-style: italic;
  color: #b8b8b8;
  margin: 0.04em;
}